name: CI Build and Test
on:
  pull_request:
    branches: [ "dev" ]
  push:
    branches: [ "dev","main" ]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'
          cache: maven
      - name: Build Application
        run: mvn -B package --file pom.xml
      - name: Unit Test
        run: mvn -B test --file pom.xml
